﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@model RunGroupWebApp.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Personal Profile";
}


@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
}
<div class="gradient-custom-2 ">
    <div class="container py-5">
        <div class="row d-flex justify-content-center"> 
            <div class="col-md-10">
                <div class="card">
                <div class="rounded-top text-white d-flex flex-row profile-header">
                    <div class="d-flex flex-column profile-container" style="z-index: 1">
                        <img src="@Model.appUser.ProfilePhotoUrl" alt="Profile Image" class="img-fluid mt-4 mb-1 profile-image" >
                        <a asp-area="" asp-controller="Dashboard" asp-action="EditUserProfile" class="btn btn-outline-light edit-profile-btn">Edit profile</a>
                    </div>
                    <div class="ms-3" style="margin-top: 130px;">
                        <h5 class="profile-username">@Model.appUser?.UserName</h5>
                        <p>@Model.appUser?.Address?.City</p>
                    </div>
                </div>
                    <div class="p-4 text-black bg-light">
                            
                        <div class="d-flex justify-content-end text-center py-1">
                            <div class="px-3">
                                <p class="mb-1 h5">@Model.Clubs?.Count()</p>
                                <p class="small text-muted mb-0">Clubs</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">About Me</p>
                            <div class="p-4 bg-light rounded">
                                <p class="font-italic mb-1">@Model.appUser?.Bio</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0">Dashboard</p>
                            <a class="btn btn-primary" asp-area="" asp-controller="Club" asp-action="Create">Create Club</a>
                        </div>
                        <div id="clubs" class="tab-content">
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                @foreach (var item in Model.Clubs)
                                {
                                    <div class="col">
                                        <div class="card club-card h-100">
                                            <img src="@item.Image" class="card-img-top" alt="Club Image">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <h5 class="card-title">@item.Title</h5>
                                                    <small class="text-muted">@item.ClubCategory</small>
                                                </div>
                                                <p class="card-text mt-2 text-truncate" title="@item.Description">
                                                    @item.Description
                                                </p>
                                            </div>
                                            <div class="card-footer bg-transparent border-top-0">
                                                <div class="d-flex justify-content-end">
                                                <a asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                                                    @if (SignInManager.IsSignedIn(User))
                                                    {
                                                    <a asp-controller="Club" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                                                    <a asp-controller="Club" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>