@model IEnumerable<Race>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link href="css/race-card.css" rel="stylesheet">
</head>
<body>
    <div class="container py-5">
        <h1 class="text-center">競賽列表</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
            @foreach (var item in Model)
            {
                <div class="col">
                    <a asp-controller="Race" asp-action="Detail" asp-route-id="@item.Id" class="card">
                        <img src="@item.Image" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path/></svg>
                                <img class="card__thumb" src="@item.AppUser?.ProfilePhotoUrl" alt="" />
                                <div class="card__header-text">
                                    <h3 class="card__title">@item.Title</h3>
                                    <span class="card__status">@item.AppUser?.UserName</span>
                                </div>
                            </div>
                            <p class="card__description">@item.Description</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>
@* <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@item.Image" width="100%" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">@item.Title</p>
                    <p class="card-text">@item.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-controller="Race" asp-action="Detail" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                            {
                                <a asp-controller="Race" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                <a asp-controller="Race" asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                            }

                        </div>
                        <small class="text-muted">@item.RaceCategory</small>
                    </div>
                </div>
            </div>
        </div>
    }

</div> *@