@using RunGroupWebApp.ViewModels﻿
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@model UserViewModel

@{
    ViewData["Title"] = "User Profile";
}

@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
}

<div class="gradient-custom-2 ">
    <div class="container py-5">
        <div class="row d-flex justify-content-center"> 
            <div class="col-md-10">
                <div class="card">
                <div class="rounded-top text-white d-flex flex-row profile-header">
                    <div class="d-flex flex-column profile-container" style="z-index: 1">
                        <img src="@Model.ProfilePhotoUrl" alt="Profile Image" class="img-fluid mt-4 mb-1 profile-image" >
                        @* <a asp-area="" asp-controller="Dashboard" asp-action="EditUserProfile" class="btn btn-outline-light edit-profile-btn">Edit profile</a> *@
                    </div>
                    <div class="ms-3" style="margin-top: 130px;">
                        <h5 class="profile-username">@Model.UserName</h5>
                        <p>@Model.city</p>
                    </div>
                </div>
                    <div class="p-4 text-black bg-light">
                            
                        <div class="d-flex justify-content-end text-center py-1">
                            <div class="px-3">
                                <p class="mb-1 h5">@Model.ClubNumber</p>
                                <p class="small text-muted mb-0">Clubs</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">About Me</p>
                            @* <div class="p-4 bg-light rounded">
                                <p class="font-italic mb-1">@Model.appUser?.City</p>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>