@model IEnumerable<Club>

@{
    ViewData["Title"] = "Club List";
}

@section Styles{
    <link rel="stylesheet" href="~/css/race-card.css" asp-append-version="true" />
}


    <div class="container py-5">
        <h1 class="text-center">社團列表</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4 py-5">

            @foreach(var item in Model)
            {
               
                <div class="col">
                    <a asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id" class="card">
                        <img src="@item.Image" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                                <img class="card__thumb" src="@item.AppUser?.ProfilePhotoUrl" alt="" />
                                <div class="card__header-text">
                                    <h3 class="card__title">@item.Title</h3>
                                    <span class="card__status">@item.AppUser?.UserName</span>
                                </div>
                            </div>
                            <p class="card__description">@item.Description</p>
                        </div>
                    </a>
                </div>
            }


        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</html>

@* 
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.Image" width="100%" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                    @if(User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a asp-controller="Club" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a asp-controller="Club" asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                                    }
                                   
                                </div>
                                <small class="text-muted">@item.ClubCategory</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="@item.Image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">
                                @item.Description
                            </p>
                        </div>
                        <div class="mb-5 d-flex justify-content-around">
                            <button class="btn btn-primary">Buy Now</button>
                            <button class="btn btn-primary">Buy Now</button> 
                            <a asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                            {
                                <a asp-controller="Club" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                <a asp-controller="Club" asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                            }
                        </div>
                        <small class="text-muted">@item.ClubCategory</small>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
 *@