﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@model List<Club>

@{
    ViewData["Title"] = "Club Index";
}

@section Styles {
    <link rel="stylesheet" href="~/css/confirmed-card.css" asp-append-version="true" />
}

<h1 class="display-4 fw-normal">已參加的活動</h1>
<div class="album py-5 bg-light">
    <div class="container">
        <h2 class="display-4 fw-normal">Your Clubs</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card">
                        <img src="@item.Image" class="card-img-top mt-2" alt="...">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title mb-0">@item.Title</h5>
                                <small class="text-muted">@item.ClubCategory</small>
                            </div>
                            <p class="card-text mt-2 text-truncate" title="@item.Description">
                                @item.Description
                            </p>
                            <div class="mb-2 d-flex justify-content-end">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <a type="btn btn-success" asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id"
                                       class="btn btn-sm btn-blue">View</a>
                                    <form asp-controller="AppUserClub" asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">退出</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

